/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Page styles */
.app-container {
  max-width: 1200px;
  /* min-height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
}

/* Content styles */
.main-content {
  grid-area: content;
  padding: 20px;
  background-color: #fff;
}
